.u-section-1 .u-sheet-1 {
  min-height: 72px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 420px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 11px 427px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 18px auto 60px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 398px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 251px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 128px;
  }
}