.u-section-1 .u-sheet-1 {
  min-height: 72px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 429px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 34px;
}.u-section-3 .u-sheet-1 {
  min-height: 92px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}.u-section-4 .u-sheet-1 {
  min-height: 139px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 44px;
}.u-section-5 .u-sheet-1 {
  min-height: 475px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 53px;
  margin-top: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 272px;
  width: 272px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 272px;
  width: 272px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 272px;
  width: 272px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}